# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
coverage.xml
.coverage
.output.txt

# Configuration
/config.yaml

/result*.json

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs/*
!logs/chatbot_asqi_assessment.json
*.logconfig.yaml
*.log
output.json

# Docs
docs/_build

# Volumes
input
output

# Caching
.cache/